:root {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --main-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color-light: #FF8DCB;   
  --bg-color-light:#FFF1F7 ;
  --main-color-light: #FFC2E6;
  --text-color-light: #353430;
}


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/